.profileToggleButton {
    color: var(--text-primary);
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow 0.3s linear 0s;
    position: relative;

    padding: 10px;

    &:active,
    &:focus,
    &:hover {
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 5rem inset;
    }
}

.profileIcon {
    margin-right: .5rem;
}

.profileArrow {
    width: 15px;
    height: 5px;
    fill: white;
}

.closeButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    line-height: normal;
    background-color: transparent;
    border: 0px;
    height: 1.5rem;
    padding: 0.3125rem;
    position: absolute;
    right: 1rem;
    top: 0.625rem;
    transition: box-shadow 0.3s linear 0s;
    width: 1.5rem;

    &:hover,
    &:active,
    &:focus {
        border-radius: 3px;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 5rem inset;
        cursor: pointer;
        outline: none;
    }
}

.profilePopoverWrapper {
    --wrapper-height: 20vh;
    --wrapper-width: 300px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 7px 0px;

    min-height: var(--wrapper-height);
    min-width: var(--wrapper-width);

    @media (max-width: 641px) {
        width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
        transform: none !important;
        transition: all ease-in 0.25s;
    }
}

.profileBody {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profileNameBar {
    width: 100%;
}

.title {
    margin: .4rem 0;
}

.titleText {
    font-size: .8rem;
    font-weight: normal;
}

.button {
    margin: .3rem 0;
    padding: 0;
    background-color: var(--bg-primary);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    transition: box-shadow 0.3s linear 0s;

    &:hover,
    &:active,
    &:focus {
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 5rem inset;
    }

    a {
        display: inline-block;
        height: 100%;
        width: 100%;
        color: #fff;
        padding: .5rem .5rem;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
}

.profileActions {
    margin-top: 1rem;
}