.pageContainer {
    padding: 1rem;
    padding-top: 4rem;
}

.actionsWrapper {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.actionButton:nth-child(2) {
    margin: 0 .3rem;
}

.buttonIcon {
    display: inline-block;
    margin-right: .3rem;
}

.pageContent {
    padding-top: 3rem;
}