.pageContainer {
    padding: 1rem;
    padding-top: 4rem;
}

.actionsWrapper {
    display: flex;
    justify-content: flex-end;
}

.actionButton:nth-child(2) {
    margin: 0 .3rem;
}

.buttonIcon {
    display: inline-block;
    font-size: 1.2rem;
}

.pageContent {
    padding-top: .5rem;
}

.pageTitle {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .8rem;
}