.rdt_TableHeadRow {
    font-weight: bold;
  
  }
 
  .rdt_TableCell div {
    white-space: normal!important;
    
  }
 .sub.rdt_TableHeadRow
  {
    display: none!important;
  }

  .tableChild  {

    overflow-y: auto!important;
   max-height:250px;

  }
  