.my-custom-data-table .rdt_TableHeadRow {
  font-weight: 700 !important;
    vertical-align: middle !important;


  }
  .my-custom-data-table .rdt_TableCol,.my-custom-data-table .rdt_TableCell{
    padding: 0 !important;
    padding-left:8px!important;
}
 .my-custom-data-table .rdt_TableCell div {
    white-space: normal!important;
  
    }
  .my-custom-data-table .sub.rdt_TableHeadRow
  {
    display: none!important;

  }


.my-custom-data-table .rdt_TableCol:not(:first-child) {
   resize: horizontal;
   overflow-x: auto;
   position: sticky;
  }

.my-custom-data-table {
      font-size: 0.9em;
      flex-wrap: nowrap;
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      overflow-x: auto;
      white-space: nowrap;
  
    
      margin-bottom: 0 !important;
    }
.my-custom-data-table  .rdt_TableCol{
  min-width: none!important;
}

.instanteousCheck .row{
  --mdb-gutter-x:0.55rem
}
.my-custom-data-table > div >.rdt_Table >.rdt_TableBody{
  height: calc(100vh - 375px);
  overflow-y: auto;
}


.card-body-class{
  height: calc(100vh - 175px);
 
}
.inventoriesOnline .rdt_TableCol:first-child ,.inventoriesOnline  .rdt_TableCell:first-child {
  display: none;
}
.expandRowClass   .rdt_TableCell:not(:first-child ) {
  padding-left: 18px!important;
}