.my-custom-data-table .rdt_TableHeadRow {
  font-weight: 700 !important;
    vertical-align: middle !important;
    position: sticky;

  }
  .my-custom-data-table .rdt_TableCol,.my-custom-data-table .rdt_TableCell{
    padding: 0 !important;
    padding-left:10px!important;
}
 .my-custom-data-table .rdt_TableCell div {
    white-space: normal!important;
  
    }
  .my-custom-data-table .sub.rdt_TableHeadRow
  {
    display: none!important;

  }

  .my-custom-data-table .tableChild  {

    overflow-y: auto!important;
     max-height:300px;

  } 
.my-custom-data-table .rdt_TableCol:not(:first-child) {
   resize: horizontal;
   overflow-x: auto;
    
  }
.my-custom-data-table {
      font-size: 0.9em;
      flex-wrap: nowrap;
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      overflow-x: auto;
      white-space: nowrap;
  
    
      margin-bottom: 0 !important;
    }
.my-custom-data-table  .rdt_TableCol{
  min-width: none!important;
}
.card-name{
  position: static;
  border-radius: 0px;
  margin: 0px!important;
  padding: 0px!important;
}
.headerCard-name {
  align-items: center;
  text-align: center;
  font-size: 24px;
  
}
.instanteousCheck .row{
  --mdb-gutter-x:0.55rem
}