.deviceListTable {
 

    th {
        font-weight: 700 !important;
    }

    th,
    td {
        padding: 0 !important;
    }
}

.deviceListTableHead {
    height: 5rem;
    vertical-align: middle !important;
    position: sticky;

    // tr {
    //     position: fixed;
    // }
}

.deviceListTableCol {
    resize: horizontal;
    overflow: auto;
    padding-right: 10px;
}

.deviceListTableRow {
    &:hover {
        cursor: pointer;
    }
}

.textFilter {
    label {
        margin-bottom: 0;
    }
}

.selectFilter {
    label {
        margin-bottom: 0;
    }
}

.statusIcon {
    display: inline-block;
    margin-right: .3rem;
}