.deviceListTable {
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    // height: 75vh;
    margin-bottom: 0 !important;

    th {
        font-weight: 700 !important;
    }

    th,
    td {
        padding: 0 !important;
    }
}

.deviceListTableHead {
    height: 5rem;
    vertical-align: middle !important;
    position: sticky;

    // tr {
    //     position: fixed;
    // }
}

.deviceListTableCol {
    resize: horizontal;
    overflow: auto;
    padding-right: 10px;
}

.deviceName {
    button {
        width: 100%;
        background-color: transparent;
        border: 0;
        text-align: left;
        text-decoration: underline;
        color: var(--bg-primary);

        &:hover {
            color: var(--bg-secondary);
        }
    }
}

.textFilter {
    label {
        margin-bottom: 0;
    }
}

.selectFilter {
    label {
        margin-bottom: 0;
    }
}

.statusIcon {
    display: inline-block;
    margin-right: .3rem;
}

.paginationWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    margin: 0;
}

.pageSizeSelectorWrapper {
    font-size: .8rem;
}

.paginationSelector {
    margin-left: .3rem;
}

.noDevicesMessage {
    text-align: left;
    font-style: italic;
    color: var(--mdb-danger) !important;
}