.card-name,
.card-header {

    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.card-name {
    position: static;
}

.headerCard-name {
    align-items: center;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}